<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MoodPad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <MoodPad.Properties.Settings>
            <setting name="FontFamily" serializeAs="String">
                <value>Segoe UI</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="IsBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsItalic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsUnderline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FontColor" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>#253135</value>
            </setting>
            <setting name="BackgroundColor2" serializeAs="String">
                <value>#2D373F</value>
            </setting>
            <setting name="IsWrapText" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ThemeIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomFontColor" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="CustomBackgroundColor" serializeAs="String">
                <value>#253135</value>
            </setting>
        </MoodPad.Properties.Settings>
    </userSettings>
</configuration>